/*******************************************************************************
GRID SETTINGS
*******************************************************************************/

/* MERIA QUERIES (BREAK POINTS) */
$tablet: 768px;
$desktop: 992px;
$lg_desktop: 1200px;


/* GRID CONFIGURATION */
// $susy: (
// 	math: static,
//   	columns: 12,
//  	column-width: 60px,
//   	gutters: 1 / 4, 
//   	use-custom: (rem: true)
// );


$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


/*******************************************************************************
VARIABLES
*******************************************************************************/


